*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-direction: row-reverse; */
}
.box-1{
    padding: 20px;
    background-color: blueviolet;
    width: 150px;
}
.box-2{
    background-color: greenyellow;
    padding: 20px;
    width: 150px;
}
.box-3{
    background-color: rgb(233, 152, 0);
    padding: 20px;
    width: 150px;
}