*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(40, 40, 40);
    padding: 20px;
    color: whitesmoke;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-image{
    width: 120px;
    
}
.menus{
    display: flex;
    
}
.item{
    margin-right:20px;
    padding: 10px;
    font-size: 18px;
}
.item:hover{
    color: chartreuse;
    cursor: pointer;
}